
//colors
$light : #fff;
$dark : #333;
$light-color : #666;
$main-color : #000000;

//box-shadow
$box-shadow : 0 .5rem 1rem rgba(0, 0, 0, .1);

//border
$border : .2rem solid $dark;
$border-hover : .2rem dashed $main-color;
$border-radius : 95% 4% 97% 5%/4% 94% 3% 95%;
$border-radius-hover : 4% 95% 6% 95%/95% 4% 92% 5%;

