
//Font Weights

$extra-light: 200;
$light: 300;
$normal: 400;
$regular: 500;
$medium: 600;
$demi-bold: 700;
$bold: 800;
$heavy: 900;


//Colors

$prime-black: #161616;
$primary: #ea8100;
$dark-text: #C3C3C3;
$light-text: #707070;
$inputA: #333333;
$inputB: #f1f1f1;
$placeholder: #616161;
$placeholder2:#cdcdcd;
$card-bg:#f3f3f3;

$primary-gradient: #FFDF01;
$secondary-gradient: #CA9A00;
$tertiary-gradient: #BE7F00;